* {
    padding: 0;
    margin: 0;
  }
:root {
    --primarrio1: #D84E4E;
    --primario2: #E12121;
    --azul: #B1ECF4;
    --azul2:#4AC1F0;
    --azul3: #3FA4CC;
    --azul4: #10607F;
    --dark: #000;
    --light: #fff;
    --lhueso:#F1EFDC;

  }
  .primariox{color:#D84E4E;}

  body{
    background:var(--azul2);
    font-family: 'Montserrat',sans-serif;
    font-size: larger;

    }
  .container{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
  }
  .header{
    background: var(--azul4);
    font-family: 'Inter', sans-serif;
    font-size: large;
    color: var(--light);
    padding: 1rem 1rem;
  }
  .header a{
    color: var(--light);
    text-decoration: none;
  }
  .logo{
    font-weight:800;
    letter-spacing: 5px;
  }
  .logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .menu-icon{
    display: none;
  }
  
  .navegation ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navegation ul li{
    display: inline-block;
  }
  .navegation ul li a{
    display: block;
    padding: .5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 8px;
  }
  .navegation ul li a:hover{
    color: rgb(49, 48, 48);
  }

  .mission{
    background: linear-gradient(rgba(16,96,127,0.8),rgba(16,96,127,0.8));
    color:var(--light);
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-align: left;
    padding: 0 15%;
    margin-top: 174px;
    margin-bottom: 200px;
  }
  .mision{
    margin-bottom: 66px;
    font-family: 'Montserrat',sans-serif;
  } 
  .titulo{ 
    color: var(--light);
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    text-shadow: 0px 4px 4px black;
    padding: 2rem 0;
  }

  .botton{
    padding: 0 48%;
    opacity: 0;
    transition-duration: 0.4s;
  }

  .botton:hover
  {
    opacity: 100;
  }

  .buton2{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    margin-left:30%;
    margin-right:30%;
    border: 4px solid var(--azul4);
    text-decoration: none;
    padding: 15px 30px;
    background-color: var(--azul4);
    filter: drop-shadow(0px 4px 5px rgba(0,0,0, 0.5));
    border-radius: 20px;
    transition-duration: 0.4s;
  }
  .buton2:hover{
    color: var(--light);
    background-color: var(--primario2);
  }
  
  .topbox{
    width: 100%;
    height:560px;
    border-radius: 0px 0px 275px 0px;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.25);
    background-image: url(https://images-ext-1.discordapp.net/external/BiuIQKGJe9aw5bqHn80y2DRnksOb8u6Cwd2qhWhe0Rk/https/banfield.com.mx/templates/yootheme/cache/articulo_diferencias_gatos_perros-3192bb68.jpeg);
    background-position: center;
    background-size: 90% 140%;
    background-color: #fff;
    -webkit-border-radius: 0px 0px 275px 0px;
    -webkit-box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.25);
  }
  
  p.textotop {
    height: 400px;
    color: #10607F;
    width: 43%;
    display: flex;
    text-align: left;
    align-items: center;

    font-weight:300;
    font-size: 60px;
    font-style: normal;
    padding: 0 1%;

  }

  .buton{
    color: var(--primario2);
    border: 4px solid var(--primario2);
    padding: 10px;
    background-color: transparent;
    text-decoration: none;
    filter: drop-shadow(0px 4px 5px rgba(0,0,0, 0.5));
    border-radius: 20px;
    transition-duration: 0.4s;
    margin-left: 24%;
  }
  .buton:hover{
    color: var(--light);
    background-color: var(--primario2);
  }

  .galeria {
    padding: 16px;
    margin-bottom: 66px ;
  }
  .lista-imagenes img{
    width: 100%;
    object-fit: cover;
    width: 450px;
    height: 450px;
    margin-right: 48px;
    display: block;
    box-shadow: 18px 15px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 30PX;

  }

  .lista-imagenes {
    display: flex;
    overflow-y: auto;
  }

  .containereve {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .evento{
    width: 40%;
    height: 650px;
    color: #fff;
    background: linear-gradient(rgba(16,96,127,0.8),rgba(16,96,127,0.8));
    padding: 20px;
    border-radius: 37px;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    margin-bottom:116px;
  }

  .eventod{
    width: 50%;
    height: 100%;
    color: #fff; /*color de texto*/
    background: linear-gradient(rgba(16,96,127,0.8),rgba(16,96,127,0.8));
    padding: 20px 30px;
    border-radius: 30px; /*radio del borde*/
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-bottom:116px;
  }

  .eventod img{
    width: 225px;
    margin: 25px;
  }

  h2 {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
  }

  h1.eventotitle{
    color: var(--light);
    display: block;
    text-align: center;

    font-weight:600;
    font-size: 64px;
    font-style: normal;
    line-height: 78.02px;
    text-shadow: 0px 4px 4px black;
    margin-bottom: 24px;
    
  }

  .eventotitle{
    color: var(--light);
    display: block;
    text-align: center;

    font-weight:600;
    font-size: 48px;
    line-height: 58.51px;
  }

  .eventocont{
    display: block;
    text-align: justify;
    margin-top: 10%;
  }
  
  .evento img{
    width: 100%;
    height: 50%;
    border-radius: 33px;
    box-sizing: border-box;
  }

  .pie-pagina{
    width: 100%;
    background-color: var(--azul4);
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;

  }
  .pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
  width: 250px;
  }
  .pie-pagina .grupo-1 .box h2 {
    color: var(--light);
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: var(--lhueso);
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: var(--light);
    margin-right: 10px;
    background-color:#126485;
    text-align: center;
    transition-duration: 0.4s;    
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color:#0d445a;
  }
  .pie-pagina .grupo-2{
    background-color:#0d445a;
    padding: 15px 10px;
    text-align: center;
    color: var(--light);
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }

  @media only screen and (max-width: 876px){
    .menu-icon img{
      width: 100%;
      object-fit: cover;
      display: block;
      margin: 0;
      
    }

    .menu-icon{
      display:block;
      cursor: pointer;
      padding: .5rem 1rem;
      
    }
    .navegation ul{
      display: none;
      
    }

    .navegation ul.show{
      display: block;
      flex-direction: row;
    }
    
    .navegation{
      width: 100%;
      margin-top: 1rem;
    }
    .navegation ul li{
      display: block;

    }
    .navegation ul li a{
      display: block;
      padding: .5rem 0rem;
      transition: all 0.4s linear;
      border-radius: 8px;
    }

    p.textotop {
      height: 400px;
      color: #10607F;
      width: 50%;
      display: flex;
      text-align: left;
      align-items: center;
  
      font-weight:300;
      font-size: 35px;
      font-style: normal;
      padding: 0 1%;
  
    }
  
    .topbox{
      width: 100%;
      height:560px;
      border-radius: 0px 0px 275px 0px;
      box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.25);
      background-image: url(https://images-ext-1.discordapp.net/external/BiuIQKGJe9aw5bqHn80y2DRnksOb8u6Cwd2qhWhe0Rk/https/banfield.com.mx/templates/yootheme/cache/articulo_diferencias_gatos_perros-3192bb68.jpeg);
      background-position: center;
      background-size: 140% 120%;
      background-color: #fff;
      -webkit-border-radius: 0px 0px 275px 0px;
      -webkit-box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.25);
    }
    
    .buton{
      color: var(--primario2);
      border: 4px solid var(--primario2);
      padding: 10px;
      background-color: transparent;
      text-decoration: none;
      filter: drop-shadow(0px 4px 5px rgba(0,0,0, 0.5));
      border-radius: 20px;
      transition-duration: 0.4s;
      margin-left: 10%;
    }

    .containereve {
      display: block;
      justify-content: center;
      align-items: center;
    }
  
    .evento{
      width: 80%;
      height: 650px;
      color: #fff;
      background: linear-gradient(rgba(16,96,127,0.8),rgba(16,96,127,0.8));
      padding: 20px;
      border-radius: 37px;
      text-align: center;
      margin: auto;
      margin-bottom:116px;
    }

    .eventod{
      width: 70%;
      height: 100%;
      color: #fff; /*color de texto*/
      background: linear-gradient(rgba(16,96,127,0.8),rgba(16,96,127,0.8));
      padding: 20px 30px;
      border-radius: 30px; /*radio del borde*/
      text-align: center;
      font-size: 25px;
      margin: auto;
      margin-bottom:116px;
    }

    .eventod img{
      width: 112.5px;
      margin: 25px;
    }
  

    .pie-pagina .grupo-1{
      width: 80%;
      grid-template-columns: repeat(1,1fr);
      grid-gap: 30px;
      padding: 35px 0px;
  
    }
  }



